.navbar {
    width: 100vw;
    height: 50px;
    background-color: grey;
    margin-bottom: 50px;
}


.cartIcon {
    width: auto;
    height: 50px;
    margin-left: 75%;
    cursor: pointer;
}

.homeIcon {
    cursor: pointer;
    height: 40px;
    width: auto;
    margin-left: 5%;
    padding-bottom: 5px;
}
