.container {
  text-align: center;
}

.shoppingcart{
    position:fixed;
    z-index: 10;
    height:auto;
    width:3%;
    margin-left:40vw;
    cursor: pointer;
}
.shoppingcart:active{
    width:3.1vw;
}
table {
  border: 2px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

}
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: black;
  color: white;
  border-color: white;
}

tr:hover{
    background-color: grey;
}

.sortButtons {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.actionBtnAdd{
    background-color: green;
    margin-left:1%;
}
.actionBtnRemove{
    background-color: red;
}

button{
    border-radius: 5px;
    border:1px solid grey;
}
button:hover{
    border: 0.5px solid black;
}
button:active{
    background-color: white;
}
.actionButtons{
    width:25%;
}

.hideShoppingCart{
    position:relative;
    transition: 1s;
    display:none;
}
.showShoppingCart{
    display:block;
    position:absolute;
    width:80%;
    margin-left:10%;
    background-color: rgb(255, 255, 255);
}

.shoppingbagTable{
    width:80%;
    position:absolute;
    margin-left:10%;
    background-color: rgb(255, 255, 255);

}
.allProductsTable{
    margin-top:2%;
}

.navbar{
    width:100%;
    background-color:#5f09e1;
    height:60px;
}

.noProductsToDisplayTxt{
    font-family: sans-serif;
}